@mixin flex($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}
body {
  font-family: Helvetica;
}
#root {
  height: 100vh;
  @include flex(center);
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
.message-header {
  @include flex(space-between);
}
form {
  input {
    width: 80%;
  }
  button {
    width: 20%;
  }
}
.channels-container ul li:hover {
  cursor: pointer;
}
.messages {
  max-height: 500px;
  overflow: hidden;
}
